html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto-light.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-black';
    src: url('../fonts/roboto-black.ttf') format('truetype');
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FCFCFC;
    font-family: roboto-light;
}

.card-link {
    text-decoration: none;
    color: inherit
}

.enlarge-card {
    transition: all 0.2s ease-in-out;
}

    .enlarge-card:hover {
        transform: scale(1.03);
    }

.round-btn {
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.title {
    font-family: roboto-black;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    color: #ffff;
    font-size: 40px;
}

.custom-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.custom-text-shadow {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card-header-text {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    color: #ffff;
    font-weight: bold;
    font-size: 18px;
}

.card-content {
    font-size: 16px;
}

#results-table {
    margin-top: 1rem;
    min-width: 15rem;
    max-width: 30rem;
    border: 1px solid;
    border-radius: 20px;
    overflow: hidden;
}

    #results-table td,
    #results-table th {
        width: 10rem;
        text-align: center;
        vertical-align: middle;
        border: 1px solid;
        color: #ffff;
        font-family: roboto-black;
        font-size: 18px;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    #results-table tr {
        background-color: #4F8FD8;
    }

        #results-table tr:last-child {
            background-color: #2C75C8;
        }

.input-form {
    width: 95%;
}

@media (min-width: 768px) {
    .input-form {
        width: 40rem;
    }
}

#edit-profile .col-md-6 {
    flex: auto;
}
