@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Osobni podaci";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Vaš račun sadrži osobne podatke unešene tijekom registracije.</p>
        <p>
            <strong>Brisanjem ovog računa brišu se svi osobni podaci te se ova radnja ne može vratiti!</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Obriši račun</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
