@page
@model ConfirmEmailModel

<div class="d-flex justify-content-center">
    <div class="w-100" style="max-width: 30rem;">
        <h2>Račun uspješno potvrđen.</h2>
        <hr />
        <p>
            Možete se prijaviti.
        </p>
        <a asp-page="/Account/Login" class="w-100 btn btn-lg btn-primary">Prijava</a>
    </div>
</div>