@page
@model ExternalLoginModel

<div class="d-flex justify-content-center">
    <div class="w-100" style="max-width: 30rem;">
        <div class="title mb-3">Registracija</div>
        <hr />

        <p id="external-login-description" class="text-info">
            Uspješno ste se autentificirali pomoću <strong>@Model.ProviderDisplayName</strong>.
            Unesite adresu e-pošte za ovu stranicu u nastavku i kliknite na gumb Registriraj se za završetak
            registracije.
        </p>

        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email." />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Registriraj se</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
