@page
@model ForgotPasswordConfirmation


<div class="d-flex justify-content-center">
        <div style="max-width: 30rem;">
            <h2>Provjerite vašu e-poštu.</h2>
            <hr />
            <p>
                Poslali smo vam e-poštu s vezom za ponovno postavljanje lozinke.
            </p>
        </div>
    </div>
