@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potvrda zahtjeva za promjenu lozinke";
}

<h1>@ViewData["Title"]</h1>
<p>
    Molimo provjerite Vašu e-poštu kako biste potvrdili zahtjev za promjenu lozinke.
</p>
