@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrda zahtjeva za promjenu lozinke";
}

<h1>@ViewData["Title"]</h1>
<p>
    Lozinka ponovno postavljena. Molimo <a asp-page="./Login">prijavite se</a>.
</p>
